<% unless request.xhr? %>
  <%= render partial: 'shared/welcome_message', locals: { message: '- Directions -' } %>
<% end %>
<!-- Start directions -->
<section class="directions" id='content'>
  <div class="container">  
    <hr class="divider-home">              
    <div class="row">
      <div class="span3">
        <div class="section-overview">
          <h5><span><i class="icon-minus"></i></span> Directions</h5>  
          <hr>
          <%= render 'shared/left_nav' %>
        </div>
      </div>
      <div class="span9">
        <h3>How to find us</h3>
        <% @property.directions.each do | direction | %>
          <h3><%= direction.title %></h3>
          <%= direction.description %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End directions -->

