<% unless request.xhr? %>
  <%= render partial: 'shared/welcome_message', locals: { message: '- Descriptions -' } %>
<% end %>
<!-- Start description -->
<section class="description" id='content'>
  <div class="container">  
    <hr class="divider-home">              
    <div class="row">
      <div class="span3">
        <div class="section-overview">
          <h5><span><i class="icon-minus"></i></span> Description</h5>  
          <hr>
          <%= render 'shared/left_nav' %>
        </div>
      </div>
      <div class="span9">
        <h3><%= @property.title %></h3>
        <%= @property.description %>
      </div>
    </div>
  </div>
</section>
<!-- End description -->

