<!-- Start footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span3 about">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        <dl>
          <dt>Our Office:</dt>
          <dd>
            <strong>Rounde Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107
          </dd>
          <dt>Telephone:</dt>
          <dd>
            +1 0198 432 4567<br>
            +1 0198 432 4567
          </dd>
          <dt>E-mail:</dt>
          <dd><a href="mailto:mail@domain.com">mail@domain.com</a></dd>
        </dl>
      </div>
      <div class="span3 recent-post">
        <h5>Recent Posts</h5>
        <ul>
          <li>
            <div class="row">
              <div class="span1">
                <a href="#"><img src="/assets/round/magic-landscape.jpg" alt="" /></a>
              </div>
              <div class="recent-body">
                <a href="#">Erat nisl faucibus justo verit et quasi architecto beatae.</a><br>
                <em><small>January 11, 2012 - 1:13 PM</small></em>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="span1">
                <a href="#"><img src="/assets/round/shopping-high-heels.jpg" alt=""></a>
              </div>
              <div class="recent-body">
                <a href="#">Ut semper porttitor ipsum, et cursus erat volutpat vitae.</a><br>
                <em><small>January 12, 2012 - 1:13 PM</small></em>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="span1">
                <a href="#"><img src="/assets/round/nettle-tea.jpg" alt="" /></a>
              </div>
              <div class="recent-body">
                <a href="#">Mauris porttitor nisi sit amet felis porta congue.</a><br>
                <em><small>January 13, 2012 - 1:13 PM</small></em>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="span3 twitter-widget">
        <h5>Latest Tweets</h5>
        <div class="tweet"></div>
      </div>
      <div class="span3 flickr-widget">
        <h5>Flickr Photos</h5>
        <ul class="flickr thumbnails"></ul>
      </div>
    </div>
  </div>
</footer>
<!-- End footer -->
