<!-- Start slider -->
<section class="slider">
  <div class="container">
    <div class="well">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="active item">
            <img src="/assets/slides/slide_1.jpg" />
            <div class="carousel-caption animation">
              <h3 data-animate="fadeInDownBig" class="caption-black">Living room</h3>
              <p data-animate="fadeInRightBig" class="caption-black-small">Some small living room description</p>
            </div>
          </div>
          <div class="item">
            <img src="/assets/slides/slide_2.jpg" />
            <div class="carousel-caption animation">
              <h3 data-animate="fadeInLeftBig" class="caption-black">Bedroom 1</h3>
              <p data-animate="fadeInRightBig" class="caption-black-small">Some small bedroom 1 description</p>
            </div>
          </div>
          <div class="item">
            <img src="/assets/slides/slide_3.jpg" />
            <div class="carousel-caption animation">
              <h3 data-animate="fadeInLeftBig" class="caption-black">Bedroom 2</h3>
              <p data-animate="fadeInRightBig" class="caption-black-small">Some small bedroom 1 description</p>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- End slider -->
