<!-- Start welcome-message -->
<section class="welcome-message">
  <div class="container">
    <div class="hero-unit">
      <h4><%= message %></h4>
    </div>
  </div>
</section>
<!-- End welcome-message -->

