<%= render partial: 'shared/welcome_message', locals: { message: '- Contact Us -' } %>
<!-- Start contact -->                                             
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="img-polaroid">                            
          <iframe marginheight="0" marginwidth="0" src="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=uttara&amp;ie=UTF8&amp;hq=uttara&amp;hnear=&amp;t=m&amp;ll=37.262153,-79.942041&amp;spn=0.006295,0.006295&amp;output=embed" frameborder="0" height="350" scrolling="no" width="425"></iframe>
        </div>
      </div>
      <div class="span4 our-office">
        <h4>OUR OFFICE</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        <dl>
          <dt>Our Office:</dt>
          <dd>
            <strong>Rounde Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107
          </dd>
          <dt>Telephone:</dt>
          <dd>
            +1 0198 432 4567<br>
            +1 0198 432 4567
          </dd>
          <dt>E-mail:</dt>
          <dd><a href="mailto:mail@domain.com">mail@domain.com</a></dd>
        </dl>                     
      </div>
      <div class="span8 contact-form">
        <h4>SEND US A MESSAGE</h4>
        <hr>
        <form>
          <div class="row">
            <div class="span4">
              <label>Name</label>
              <input class="span4" type="text">
            </div>
            <div class="span4">
              <label>E-mail</label>
              <input class="span4" type="text">
            </div>
            <div class="span8">
              <label>Subject</label>
              <input class="span8" type="text">
            </div>
            <div class="span8">
              <label>Message</label>
              <textarea class="span8" rows="8"></textarea>                                 
            </div>  
            <div class="span8">
              <a class="btn btn-success"><span>Summit Message</span></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>     
<!-- End contact -->   

