<% unless request.xhr? %>
  <%= render partial: 'shared/welcome_message', locals: { message: '- Photos -' } %>
<% end %>

<!-- Start portfolio -->
<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="thumbnails">
          <% @property.photos.each do | photo | %>
            <li class="span2">
              <div class="thumbnail">
                <div class="portfolio-item">
                  <%= image_tag photo.image.thumb.url %>
                  <div class="folio-body">
                    <div class="folio-info">
                    </div>
                    <div class="folio-zoom">
                      <%= link_to photo.image.url, rel: 'prettyPhoto[pp_gal]' do %>
                        <i class="icon-plus"></i> Zoom
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <hr>
      </div>
    </div>
  </div>
</section>
<!-- End portfolio -->

