<%= render partial: 'shared/welcome_message', locals: { message: '- Not found type of text -' } %>
<!-- Start no-site-found -->                                               
<section class="http-404">
  <div class="container">
    <div class="row">
      <div class="span12 http-404">
        <h1>404</h1>                        
        <h3>Sorry, this web page is no longer available!</h3>
      </div>
    </div>
  </div>
</section>     
<!-- End no-site-found -->   

