<% unless request.xhr? %>
  <%= render partial: 'shared/welcome_message', locals: { message: 'Some property name' } %>
  <%= render 'shared/slider' %>
<% end %>
<!-- Start terms -->
<section class="terms" id='content'>
  <div class="container">  
    <hr class="divider-home">              
    <div class="row">
      <div class="span3">
        <div class="section-overview">
          <h5><span><i class="icon-minus"></i></span> Terms</h5>  
          <hr>
          <%= render 'shared/left_nav' %>
        </div>
      </div>
      <div class="span9">
        <h3>Terms and Conditions</h3>
        <p>Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas
        quam, ac egestas nibh mauris vel lectus. Morbi vulputate sem sed
        enim iaculis dictum. Praesent quis quam at neque venenatis porta.
        Nulla non rutrum eros. Nulla condimentum mollis odio ac pretium.
        fames ac turpis egestas. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla
        commodo sapien ut orci facilisis nec dignissim metus suscipit.</p> 
        <p>Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas
        quam, ac egestas nibh mauris vel lectus. Morbi vulputate sem sed
        enim iaculis dictum. Praesent quis quam at neque venenatis porta.
        Nulla non rutrum eros. Nulla condimentum mollis odio ac pretium.
        Curabitur egestas convallis fermentum. Sed in mauris sit amet arcu
        at felis. Vestibulum sed erat orci, quis eleifend dui.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla
        commodo sapien ut orci facilisis nec dignissim metus suscipit.</p> 
        <p>Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas
        quam, ac egestas nibh mauris vel lectus. Morbi vulputate sem sed
        enim iaculis dictum. Praesent quis quam at neque venenatis porta.
        Nulla non rutrum eros. Nulla condimentum mollis odio ac pretium.
        Curabitur egestas convallis fermentum. Sed in mauris sit amet arcu
        at felis. Vestibulum sed erat orci, quis eleifend dui.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla
        commodo sapien ut orci facilisis nec dignissim metus suscipit.</p> 
        <p>Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas
        quam, ac egestas nibh mauris vel lectus. Morbi vulputate sem sed
        enim iaculis dictum. Praesent quis quam at neque venenatis porta.
        Nulla non rutrum eros. Nulla condimentum mollis odio ac pretium.
        Curabitur egestas convallis fermentum. Sed in mauris sit amet arcu
        at felis. Vestibulum sed erat orci, quis eleifend dui.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla
        commodo sapien ut orci facilisis nec dignissim metus suscipit.</p> 
        <p>Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas
        quam, ac egestas nibh mauris vel lectus. Morbi vulputate sem sed
        enim iaculis dictum. Praesent quis quam at neque venenatis porta.
        Nulla non rutrum eros. Nulla condimentum mollis odio ac pretium.
        Curabitur egestas convallis fermentum. Sed in mauris sit amet arcu
        at felis. Vestibulum sed erat orci, quis eleifend dui.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla
        commodo sapien ut orci facilisis nec dignissim metus suscipit.</p> 
        <p>Nunc consectetur, nisl non pulvinar blandit, lorem orci egestas
        quam, ac egestas nibh mauris vel lectus. Morbi vulputate sem sed
        enim iaculis dictum. Praesent quis quam at neque venenatis porta.
        Nulla non rutrum eros. Nulla condimentum mollis odio ac pretium.
        Curabitur egestas convallis fermentum. Sed in mauris sit amet arcu
        at felis. Vestibulum sed erat orci, quis eleifend dui.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nulla
        commodo sapien ut orci facilisis nec dignissim metus suscipit.</p> 
      </div>
    </div>
  </div>
</section>
<!-- End terms -->

